*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

img {
    max-width: 100%;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.container-sm{
    max-width: 1000px;
    margin: 0 auto;
}

.container-big{
    max-width: 100%;
    margin: 0 auto;
}

.navbar-row{
    display: flex;
    justify-content: space-between;
    padding: 28px 20px;
}

.navbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left-items{
margin-right: 34px;
}

.navbar-right-items{
margin-left: 34px;
}

.hero{
    background-color: #B4D0E7;
}

.button{ 
    padding: 8px 16px;
}

.button-blue{
    color: white;
    background-color: #0061FF;
}

.hero-row{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-row-content{
    display: flex;
    
}

.column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: space-between; */
}

.col-4{
    flex-basis: calc((100% / 12) * 4);
}

.col-8{
    flex-basis: calc((100% / 12) * 8); 
}

.hero-title{
    font-size: 76px;
    font-weight: 900;
    padding: 64px 0;
}

.hero-row-content .col-4{
    font-size: 14px;
    font-weight: 400;
}

.icon-arrow{
    font-size: 32px;
}