*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

img {
    max-width: 100%;
    display: block;

}

a{
    text-decoration: none;   
}

li, ul, ol {
    list-style: none;
    text-decoration: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.container-sm{
    max-width: 1000px;
    margin: 0 auto;
}

.container-big{
    max-width: 100%;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;    
}

.justify-content-sb{
    justify-content: space-between;
}

.justify-content-cntr{
    justify-content: center;
}

.align-items-cntr{
    align-items: center;
}

.navbar .container-big > .row{
    padding: 22px 20px;
}

.navbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left-items{
margin-right: 34px;
font-size: 16px;
}

.navbar-right-items{
margin-left: 34px;
font-size: 16px;
}

.hero{
    background-color: #B4D0E7;
}

.button{ 
    font-size: 16px;
    padding: 12px 16px;
    line-height: 44px;
    font-weight: 400;
}

.button-sm{
    font-size: 14px;
    padding: 8px 16px;
    line-height: 38px;
    font-weight: 400;
    text-align: center;
}

.button-blue{
    color: white;
    background-color: #0061FF;
}

.hero-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px 0;
}

.hero-row-content{
    display: flex;
    
}

.column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.col-4{
    flex-basis: calc((100% / 12) * 4);
}

.col-8{
    flex-basis: calc((100% / 12) * 8); 
}

.col-12{
    flex-basis: 100%;
}

.hero-title{
    font-size: 76px;
    font-weight: 900;
    padding: 60px 0;
    line-height: 1.4em;
}

.hero-row-content .col-4{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.icon-arrow{
    font-size: 52px;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: flex-end;
}

.hero-items{
    padding-bottom: 40px;
    line-height: 22px;
}

.hero-text{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.section-title{
    font-size: 40px;
    /* padding-top: 60px; */
    padding-bottom: 10px;
}

.invoice-option{
    padding-right: 60px;
    display: inline-block;
}

.row > .col-4.debug{
    flex-basis: calc((100% - 100px) / 3);
}

.business-section > .row{
    gap:  40px 50px;
}

.card-container{
    padding: 40px 26px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.business-section{
    display: flex;
    flex-direction: column;
    gap: 50px 0;
    font-weight: 300;
    font-size: 14px;
}

.debug{
    border: 1px rgb(206, 201, 201) solid;
}

.border-bottom{
    border-bottom: 1px solid rgb(206, 201, 201);
}

.main-section > .container-sm{
    padding-top: 160px;
}

.card-header{
    padding: 10px 0;
    font-weight: 300;

}

.card-title{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.price{
font-weight: 600;
font-size: 14px;
margin-bottom: 20px;
}

.unit{
 font-weight: 300;
 font-size: 14px;
 margin-bottom: 20px;
}

.function-item{
    margin-bottom: 20px;
}
 .business span{
   margin-bottom: 36px;
   display: block;
 }

 .button-prova{
    text-decoration: underline;
    color: blue;
 }

 .block-borderbottom{
    width: 45px;
    border-bottom: 1px solid rgb(206, 201, 201);
 }
 
 .list-title{
    font-weight: 600;
 
}
 .function-item .fa-check{
    color: #0061FF;
 }

 .fa-solid{
     margin-right: 6px;
 }


 div [class$='-section']{
    padding-top: 160px
 }