
/* 
SETTINGS 
*/


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

img {
    max-width: 100%;
    display: block;

}

a{
    text-decoration: none;   
}

li, ul, ol {
    list-style: none;
    text-decoration: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.container-sm{
    max-width: 1000px;
    margin: 0 auto;
}

.container-big{
    max-width: 100%;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;    
}

.justify-content-sb{
    justify-content: space-between;
}

.justify-content-cntr{
    justify-content: center;
}

.align-items-cntr{
    align-items: center;
}

.align-items-flxstrt{
    align-items: flex-start;
}


/* 
HEADER 
*/


.navbar .container-big > .row{
    padding: 22px 20px;
}

.navbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left-items{
margin-right: 36px;
font-size: 16px;
}

.navbar-right-items{
margin-left: 22px;
font-size: 16px;
}


/* 
HERO 
*/


.hero{
    background-color: #B4D0E7;
}

.button{ 
    font-size: 16px;
    padding: 12px 16px;
    line-height: 40px;
    font-weight: 400;
    white-space: nowrap;
}

.button-sm{
    font-size: 14px;
    padding: 8px 16px;
    line-height: 34px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
}

.button-blue{
    color: white;
    background-color: #0061FF;
}

.hero-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px 0;
}

.hero-row-content{
    display: flex;
    
}

.column{
    display: flex;
    flex-direction: column;
}

.col-4{
    flex-basis: calc((100% / 12) * 4);
}

.col-8{
    flex-basis: calc((100% / 12) * 8); 
}

.col-12{
    flex-basis: 100%;
}

.hero-title{
    font-size: 76px;
    font-weight: 900;
    padding: 60px 0;
    line-height: 1.4em;
}

.hero-row-content .col-4{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.icon-arrow{
    font-size: 52px;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: flex-end;
}

.hero-items{
    padding-bottom: 40px;
    line-height: 22px;
}

.hero-text{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


/* 
BUSINESS SECTION 
*/


.section-title{
    font-size: 38px;
    /* padding-top: 60px; */
    padding-bottom: 10px;
}

.invoice-option{
    padding-right: 60px;
    display: inline-block;
}

.row > .col-4.debug{
    flex-basis: calc((100% - 100px) / 3);
}

.business-section > .row{
    gap:  40px 50px;
}

.card-container{
    padding: 40px 26px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.business-section{
    display: flex;
    flex-direction: column;
    gap: 50px 0;
    font-weight: 300;
    font-size: 14px;
}

.debug{
    border: 1px rgb(206, 201, 201) solid;
}

.card-header{
    padding: 10px 0;
    font-weight: 300;
    justify-content: center;
    border-bottom: 1px solid rgb(206, 201, 201);

}

.card-title{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.card-cta::after{
    content: "";
    width: 48px;
    border-bottom: 1px solid grey;
}

.price{
font-weight: 600;
font-size: 14px;
margin-bottom: 20px;
}

.unit{
 font-weight: 300;
 font-size: 14px;
 margin-bottom: 20px;
}

 .business-section span{
   margin-bottom: 36px;
   display: block;
 }

 .button-prova{
    text-decoration: underline;
    color: blue;
 }
 
 .list-title{
    font-weight: 600;
    padding-bottom: 30px;
 
}
 .function-item .fa-check{
    color: #0061FF;
 }

 .fa-solid{
     margin-right: 6px;
 }


 div [class$='-section']{
    padding-top: 160px
 }

 .col-7{
    flex-basis: calc(100% / 12 * 7);
 }

 .col-5{
    flex-basis: calc(100% / 12 * 5);
 }

.functions{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.function-item{
    display: flex;
    align-items: baseline;
}

/*
 PARTNER SECTION 
 */


 .partner-section .col-5{
    padding: 60px 40px;
 }

 .button-black{
    color: black;
    margin: 24px 0;
    display: inline-block;
    background-color: white;
 }

.border-black{
    border: solid 1px black;
}


/* 
TOOL SECTION 
*/


 .tool-section .col-4{
    flex-basis: calc((100% - 100px) / 3);
 }

 .tool-section .row{
    row-gap: 70px;
    column-gap: 50px;
 }


 /* 
 CLIENT SECTION 
 */


 .tool-section .section-title,
 .client-section .section-title{
    margin-bottom: 50px;
 }

.col-6{
    flex-basis: 50%;
}

.client-section span{
    display: inline-block;
}

.bg-color-red{
    background-color: #FF1C1C;
}

.bg-color-darkred{
    background-color: #D5001F;
}

.bg-color-lightgreen{
    background-color: #A2D39B;
}

.bg-color-lightblue{
    background-color: #B4D0E7;
}

.bg-color-blue{
    background-color: #0093CE;
}

.bg-color-darkblue{
    background-color: #0D2481;
}

.bg-color-yellow{
    background-color: #FFD830;
}

.bg-color-bordeaux{
    background-color: #61082B;
}

.col-4 > .col-6{
    aspect-ratio: 1/1;
}

.filter-white{
    filter: invert(99%) sepia(1%) saturate(424%) hue-rotate(190deg) brightness(120%) contrast(100%);
}

.col-6 > img{
    width: 50%;
    
}

.client-section > .container-big{
    margin-top: 160px;
}

.container-big .column{
    row-gap: 40px;
    padding: 50px;
}

.bg-color-darkwhite{
    background-color: #F5F5F5;
}

.logo-clients-central{
    max-width: 70%;
}

.col-6.bg-color-lightgreen{
    box-shadow: inset 0px 0px 0px 16px #d9f9d4;
}


/* 
CTA SECTION
*/


.cta-section .section-title{
    color: #61082B;
    font-size: 38px;
    font-weight: bolder;
}

.cta-section .button-sm{
    width: 100%;
}

.cta-section .row{
    padding: 100px 0;
}

.align-items-1bsln{
    align-items: first baseline;
}


/* 
FAQ SECTION 
*/

.faq-section{
    padding-bottom: 160px; 
}

.faq-section .row{
    font-weight: bold;
 }

.faq-section .section-title{
    padding-bottom: 80px;   
}

.faq{
    padding: 50px 0;    
}

.faq-section .column div:nth-child(2n+0){
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}


/*
FOOTER 
*/


.bg-color-black{
    background-color: black;
}